.head{
    background-color: rgb(222, 236, 240);
    text-align: center;
}
#h2{
    text-align: center;
}
#generatedpassword{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
padding: 20px;
width: 1400px;
}